#main{
    position: relative;
    color: white;
    text-align: center;
    width: 60%;
    height: 550px;
    padding: 0px;
}
img{
    height: 525px;
    width: 100%;
}

#num{
    position: absolute;
    top: 4px;
    left: 15px;
}

#name{
    position: absolute;
    left: 50%;
    bottom: 20px;
}
#left{
    margin: 0px;
    position: absolute;
    padding: 2%;
    left: 0px;
    top: 45%;
    color: rgba(255, 255, 255, 0.61);
    text-decoration: none;   
    transition: 0.6s ease;
}
#right{
    margin: 0px;
    position: absolute;
    padding: 2%;
    right: 0px;
    top: 45%;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    transition: 1.5s ease;
}
a:hover{
    background-color: rgba(0, 0, 0, 0.747);
    color: white;
}
input{
    margin: 0px;
}
span{
    /* border: 1px solid;
    box-shadow: 0px 0px 2px black; */
    display: inline-block;
    background-color: rgba(182, 182, 182, 0.507);
    height: 13px;
    width: 13px;
    border-radius: 50%;
    transition: 1.5s ease;
}
/* span:hover{
    background-color: rgba(51, 51, 51, 0.76);
} */
/* span:active{
    background-color: black;
} */
.sel{
    cursor: pointer;
}
.mySlides{
    display: none;
}
.active, .dot:hover{
    background-color: rgba(51, 51, 51, 0.76);
}
.anim{
    animation: anim;
    animation-duration: 1.5s;
}

@keyframes anim{
    from {opacity: 0.4}
    to{opacity: 1;}

}